#header {
    background-color: bisque;
    padding: 30px;
    margin-top: 20px;
    margin-top: 15px;
}
#game-rules{
    background-color: #44cccc44;
    padding: 20px;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}
