#header {
    background-color: #0B1C51;
    color: #A68E72;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 36px;
}
#game-rules{
    background-color: #A8B0C8;
    color: #0B1C51;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
#losses {
    background-color: #A68E72;
    color: #0B1C51;
    font-size: 16px;
}
#wins {
    background-color: #A68E72;
    color: #0B1C51;
    font-size: 16px;
}
#compNumber {
    background-color: #A68E72;
    color: #0B1C51;
    font-size: 20px;
}
.btn{
    margin: 20px;
    background-color: #6679B6
}
.btn-dark {
    margin: 15px;
    background-color: #0B1C51
}
.total {
    background-color: #A8B0C8
}